// Colores

@white:			#FFF;
@black:			#000;
@gray: 			lighten(@black, 50);
@gray-light:	lighten(@black, 80);
@gray-dark:		lighten(@black, 45);
@brown: 		#8B3F0D;

// Funciones

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}


// import colorpicker
@import "../bower_components/jquery-minicolors/jquery.minicolors.css";

h1{
	font-size: 40px;
	line-height: 45px;
	font-weight: lighter;
	margin: 0;
}

a{
	color: fade(@white, 50);
	&:hover{color: @white}
	text-decoration: none;
	&.github-btn{
		background-color: fade(@brown, 50);
		padding: 1px 6px;
		.border-radius(4px);
	}
}

hr{
	height: 2px;
	border-top: 1px solid fade(@white, 15);
	border-bottom: 1px solid fade(@black, 10);
	border-left: none;
	border-right: none;
	margin: 4px 0;

}

body {
	margin: 0;
	background-color: @brown; 
	color: @gray-light; 
	line-height: normal;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px; 
	font-weight: normal; 
	text-decoration: none;
	line-height: 1.5em;
}


canvas { 
	display: block; 
	outline: 0px;
	box-shadow: 2px 2px 3px fade(@black, 13);
}

button,
input[type='button']{
	font-family: 'Helvetica Neue', Helvetica;
	border: 0;
	font-size: 14px;
	background-color: fade(@black, 20);
	.border-radius(3px);
	color: @white;
	padding: 4px 10px;
	&:hover{background-color: fade(@black, 65);}

	&.important{
		width: 100%;
		padding: 12px;
		text-transform: lowercase;
		margin: 13px 0 0 0;
		font-size: 22px;
		font-weight: lighter;
		background-color: fade(@black, 50);
		&:hover{background-color: @black}
	}
}

.button-group{
	button,
	input[type='button']{
		margin: 0;
	}
	input[type='button']:first-child{.border-radius(3px 0 0 3px)}
	input[type='button']:last-child{.border-radius(0 3px 3px 0); margin-left: -3px;}
	margin: 0 0 16px;
}

#controls{
	position: absolute;
	width: 180px;
	top: 0;
	right: 0;
	background-color: fade(@black, 10);
	padding: 20px;
	.border-radius(0 0 0 7px);

	.dimensiones{
		height: 23px;
    	margin: 12px 0;

		input[type='number']{
		    border: medium none;
		    border-radius: 3px;
		    display: inline-block;
		    float: left;
		    margin: 0 7px 0 0;
		    padding: 4px;
		    width: 47px;
		}
		input[type='button']{
			margin-top: -3px;
		}
	}
	
	label{
		display: block;
		font-weight: bolder;
		color: @white;
		text-transform: uppercase;
		font-size: 9px;

		input[type="range"]{
			display: inline-block;
			width: 120px;
			margin: 0 0 15px 0;
			padding: 0;
		}
		.output{
			float: right;
			width: 45px;
			font-size: 14px;
			font-weight: lighter;
			color: fade(@white, 60);
		}
	}

	#colores-control{
		margin-bottom: 12px;
		label{
			text-transform: lowercase;
			display: inline-block;
			width: 60px;
			text-align: right;
			margin-right: 5px;
			width: 40px;
			font-size: 12px;
			font-weight: 400;
			color: fade(@white, 50);
		}
		intput[type='minicolors-input']{
			.border-radius(3px);
		}
	}
}

